:root {
  --hue-color: 255; 
  --hue-text-color: 210;

  --accent-color: hsl(var(--hue-color), 69%, 61%);
  --accent-color-darker: hsl(var(--hue-color), 57%, 53%);
  --accent-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --text-color: hsl(var(--hue-text-color), 19%, 25%);
  --text-color-lighter: hsl(var(--hue-text-color), 10%, 35%);

  --body-font: Roboto, Arial, sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
}
  

::-webkit-scrollbar-track {
	background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
	background: var(--accent-color);
  border-radius: 2rem;
}


::-webkit-scrollbar-thumb:hover {
	background: var(--accent-color-lighter);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  color: var(--text-color);
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}