header {
    width: 100%;
}

.header-wrapper {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 56px);
    overflow: hidden;
}

.header-container {
    max-width: 768px;
    width: 100%;
    display: flex;
    padding-bottom: 3rem;
}

.header-block {
    flex-basis: 50%;
    height: auto;
}

.header-block > h1 {
    padding-bottom: 1rem;
}

.header-block > p {
    padding-bottom: 3rem;
}

.header-block > .blob-block {
    width: 100%;
    position: relative;
}

.header-block > .blob-block > .blob-img {
    position: absolute;
    width: 100%;
    right: -35px;
    top: -5px;
    transform: rotate(-20deg) scale(1.25)
}

.header-block > a {
    padding: 1rem 2rem;
    background-color: var(--accent-color);
    color: #fff;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.category-wrapper {
    width: 768px;
}

.category-header {
    padding: 2rem 0;
    text-align: center;
}

.category-header > h2 {
    font-size: 2rem;
    position: relative;
}

.category-header > h2::before {
    position: absolute;
    content: '';
    width: 160px;
    height: 6px;
    bottom: 5px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    background: var(--accent-color-lighter);
    z-index: -1;
    
}

.category-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;

}

.category-row > .block {
    width: 100px;
    height: 100px;
    background: var(--accent-color);
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .header-block > .blob-block {
        display: none;
        
    }

    .header-block {
        flex-basis: 100%;
    }

    .scrool-block {
        padding-top: 15vh;
    }

    .category-row {
        flex-direction: column;
        padding: 0;
    }

    .category-row > .block {
        margin: 0 auto 2rem auto;
    }

}
  
  
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    text-align: center;
    cursor: pointer;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: var(--accent-color);
    color: var(--accent-color);
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: var(--accent-color);
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid var(--accent-color);
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: var(--accent-color);
    border-radius: 50%;
    animation: ani-mouse 1.5s linear infinite;
}